body{
  background-color: #d9a5b3 !important;
  padding: 25px,25px,25px,25px;
}

#main{
  border: 2px solid black;
  background-color: #1868ae !important;
  padding: 25px;
}
h1{
  text-align: center;
  background-color: #c6d7eb !important;
  border: 2px solid white;
}
h2{
  text-align: center;
  background-color: red;
  border: 2px solid white;
}
table{
  border: 2px solid black;
}
form{
  text-align: center;
}
